body {
    background-color: #c4e7f2;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.error {
    color: red;
}

#bible-link {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}
