body {
    background-color: #c4e7f2;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.error {
    color: red;
}

#bible-link {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}
#bible-link:hover {
    cursor: pointer;
}

.tile {  
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;		
    padding: 20px;
    margin-bottom: 10px;
    background-color: #5BC35B;
}
.tile.disabled {
    background-color: #B1B3BB;
    /* display: none; */
}
.tile:hover {
    cursor: pointer;
}
.tile.disabled:hover {
    cursor: not-allowed;
}
.tile .title {
    margin-top: 0px;
    font-size: 10pt;
    font-weight: bold;
}
.tile .description {
    font-size: 12pt;
}

#scroll-message-content {
    font-size: 10pt;
    background-color: aliceblue;
}
#scroll-message-hide {
    font-size: 22pt;
    float: right;
}
#scroll-message-hide:hover {
    font-weight: bold;
}

@media only screen and (max-width: 830px) {
    .tile .description {
        display: none;
    }
    .main-title {
        font-size: 14pt;
    }
}
